@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.content {
    column-gap: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form {
    width: 40%;
    background-color: #f4f5f4;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.formSection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 3rem;
}

.formHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.input {
    width: 100%;
    height: 4.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.input.description {
    height: 15rem;
}

.addButton {
    background-color: #2b3440;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    border-radius: 1rem;
}

.cvContainer {
    width: 30%;
}

.cv {
    margin-top: 2rem;
    width: 100%;
    border: 3px solid black;
    min-height: 50vh;
    padding: 2rem;
}

.nameSurname {
    width: 16rem;
    overflow-wrap: break-word;
    min-height: 5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    color: #a78bfa;
    font-weight: bolder;
}

.generalInfo {
    margin-bottom: 2.5rem;
    display: flex;
    column-gap: 2rem;
}

.cvLine {
    height: 5px;
    background-color: black;
    margin-top: -1rem;
}

.adressPhoneMail {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    row-gap: 1rem;
    align-items: center;
    width: 30%;
}

.locationIcon,
.phoneIcon,
.emailIcon {
    width: 2rem;
    float: left;
    margin-right: 0.3rem;
}

.locationDiv,
.phoneNumberDiv,
.emailDiv {
    width: 100%;
    padding: 0.5rem;
}

.locationText,
.phoneNumberText,
.emailText {
    min-height: 1rem;
    width: 10rem;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.education,
.experience {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.educationContainer {
    display: flex;
    width: 20rem;
}

.cveducation {
    width: 10rem;
}

.universityInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    min-height: 5rem;
    overflow-wrap: break-word;
    width: 10rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

.educationDateInfo {
    margin-left: 8rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    min-height: 5rem;
    width: 10rem;
    overflow-wrap: break-word;
    margin-top: 0.5rem;
    font-weight: 500;
}